@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --win95-teal: #008080;
  --win95-gray: #C0C0C0;
}

@layer base {
  @font-face {
    font-family: 'W95FA';
    src: url('https://db.onlinewebfonts.com/t/202be169dc31d0413e1762c262c62c3f.woff2') format('woff2'),
      url('https://db.onlinewebfonts.com/t/202be169dc31d0413e1762c262c62c3f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    @apply bg-win95-teal text-black font-win95 overflow-hidden h-screen;
    cursor: default;
    font-size: 18px;
    -webkit-font-smoothing: none !important;
    -moz-osx-font-smoothing: unset !important;
    font-smooth: never !important;
    text-rendering: optimizeSpeed;
  }
}

@layer utilities {
  .win95-beveled {
    @apply shadow-win95-outset bg-win95-gray;
  }

  .win95-beveled-inset {
    @apply shadow-win95-inset bg-win95-gray;
  }

  /* Win95 Scrollbar */
  .scrollbar-win95::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: #c0c0c0;
  }

  .scrollbar-win95::-webkit-scrollbar-track {
    background: #e0e0e0;
  }

  .scrollbar-win95::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 2px solid #c0c0c0;
    box-shadow: inset 1px 1px 0px #ffffff, inset -1px -1px 0px #000000;
  }

  .scrollbar-win95::-webkit-scrollbar-button {
    background: #c0c0c0;
    width: 16px;
    height: 16px;
    box-shadow: inset 1px 1px 0px #ffffff, inset -1px -1px 0px #000000;
  }

  .scrollbar-win95::-webkit-scrollbar-corner {
    background: #c0c0c0;
  }

  .win95-button {
    @apply shadow-win95-button bg-win95-gray active:shadow-win95-button-active active:translate-x-[1px] active:translate-y-[1px] px-2 py-1 flex items-center justify-center;
  }
}